body {
    background-color: #232323;
    color: aliceblue;
}

img {
    width: 200px;
    box-shadow: 1px 1px 15px #030303;
    border-radius: 7px;
}

h1, h2, h3 {
    text-align: center;
    padding: 20px;
}

.box {
    width: 80%;
    border-radius: 7px;
    box-shadow: 1px 1px 15px #030303;
    padding: 10px;
    margin: 5px;
}
.box2 {
    width: 80%;
    border-radius: 7px;
    box-shadow: 1px 1px 15px #030303;
    margin: 5px;
    padding-top: 10px;
}

strong {
    text-transform: uppercase;
    filter: drop-shadow(1px 0 2px yellow);
    padding: 3px;
}

ol li {
    margin: 15px;
}